name: Test ZAP - Docker Mode (Podinfo - Clean App)

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

permissions:
  actions: read
  checks: write
  pull-requests: write
  security-events: write
  id-token: write
  contents: read

jobs:
  test-zap-podinfo-baseline:
    name: ZAP Baseline - Podinfo (Clean App)
    uses: huntridge-labs/hardening-workflows/.github/workflows/reusable-security-hardening.yml@79dbc2998a0c6f83e77d44176ea38fc67bd15fe0
    with:
      scanners: 'zap'
      zap_scan_mode: 'docker-run'
      zap_scan_type: 'baseline'
      zap_app_image_ref: 'ghcr.io/stefanprodan/podinfo:latest'
      zap_app_ports: '9898:9898'
      zap_target_urls: 'http://localhost:9898'
    secrets: inherit
