name: Test ZAP - Docker Mode (DVWA)

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

permissions:
  actions: read
  checks: write
  pull-requests: write
  security-events: write
  id-token: write
  contents: read

jobs:
  test-zap-dvwa-baseline:
    name: ZAP Baseline - DVWA
    uses: huntridge-labs/hardening-workflows/.github/workflows/reusable-security-hardening.yml@feat/zap-scanner
    with:
      scanners: 'zap'
      zap_scan_mode: 'docker-run'
      zap_scan_type: 'baseline'
      zap_app_image_ref: 'vulnerables/web-dvwa:latest'
      zap_app_ports: '80:80'
      zap_target_urls: 'http://localhost:80'
    secrets: inherit

  test-zap-dvwa-full:
    name: ZAP Full Scan - DVWA
    uses: huntridge-labs/hardening-workflows/.github/workflows/reusable-security-hardening.yml@feat/zap-scanner
    with:
      scanners: 'zap'
      zap_scan_mode: 'docker-run'
      zap_scan_type: 'full'
      zap_app_image_ref: 'vulnerables/web-dvwa:latest'
      zap_app_ports: '80:80'
      zap_target_urls: 'http://localhost:80'
    secrets: inherit
